<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Thank you for your message!</h3>
        <p>I'll get back to you soon.
      </div>
    </div> 
  </div>
</section>
